In [24]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder #import the libraries

In [25]:
tennis = pd.read_csv("tennis_dataset.csv") #import the dataset

In [26]:
tennis.head()#view the dataset in the working enviroment

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [27]:
model_tennis = DecisionTreeClassifier()#name the DecisionTreeClassifier library as model

In [28]:
new_tennis = tennis.drop("day",axis = "columns") #drop the day column

In [29]:
le_encoder = LabelEncoder() #name the LabelEncoder library as le_encoder

In [30]:
tennis_columns = new_tennis.columns #create the columns name array in the dataset

In [31]:
for column_name in tennis_columns:
  new_tennis[column_name] = le_encoder.fit_transform(tennis[column_name])#change the row text to integer

In [32]:
new_tennis.head()#view the integer data in the working enviroment

   outlook  temp  humidity  wind  play
0        2     1         0     1     0
1        2     1         0     0     0
2        0     1         0     1     1
3        1     2         0     1     1
4        1     0         1     1     1

In [33]:
x = new_tennis.drop("play",axis = "columns")#create  the x data by droping label
y = new_tennis["play"]                      #create the label data
x.head()

   outlook  temp  humidity  wind
0        2     1         0     1
1        2     1         0     0
2        0     1         0     1
3        1     2         0     1
4        1     0         1     1

In [34]:
y.head()#view the label data

0    0
1    0
2    1
3    1
4    1
Name: play, dtype: int64

In [35]:
model_tennis.fit(x,y) #train the model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Here in the    
1st column :- **Overcast:0,Rain:1,Sunny:2**,   
2nd column :- **Cool:0,Hot:1,Mild:2**,   
3rd column :- **Normal:1,High:0**,   
4th column :- **Weak:1,Strong:0**,        
5th column :-**No:0,Yes:1**

In [36]:
prediction_yes_no =  {1:"Yes",0:"No"} # craete a for text output for number

Prediction for **[sunny,Mild,Normal,Weak]** True output is **Yes**

In [37]:
outputA = model_tennis.predict([[2,2,1,1]])[0] #output for [sunny,Mild,Normal,Weak]
prediction_yes_no[outputA]

'Yes'

Prediction for **[Rain,Hot,Normal,Weak]** True output is **No**

In [38]:
outputB = model_tennis.predict([[1,1,1,1]])[0] #output for [Rain,Hot,Normal,Weak] 
prediction_yes_no[outputB]

'No'

Prediction for **[Overcast,Mild,Normal,Strong]** True output is **Yes**

In [39]:
outputC = model_tennis.predict([[0,2,1,0]])[0] #output for [Overcast,Mild,Normal,Strong] 
prediction_yes_no[outputC]

'Yes'

**SO All above three Unseen predictions are Correct**